:root{
	--prm1:#555555;
	--prm2:#9D9D9D;
	--prm3:#000000;
	--act1:#FF782D;
	--bg1:#f5f5f5;
}
/*global*/
h1,h2,h4,h5,li{
	font-family: "Exo", sans-serif;
}
.prm1{
	color: var(--prm1);
}
.prm2{
	color: var(--prm2);
}
h2{
	font-size: 32px;
	font-weight: 600;
}
h4{
	font-size: 20px;
	font-weight: 600;
}
h5{
	font-size: 16px;
	font-weight: 600;
}
p{
	color: var(--prm1);
	font-size: 18px;
	font-weight: 400;
}
a{
	text-decoration:none;
	color:var(--prm3);
}
.active{
	background-color: var(--bg1);
}
.active a,li.active svg,.active{
	color: var(--act1);
}
.active-sec{
	background-color:var(--prm3);
	color:white;
	border-radius:100%;
}
.active-thr{
	color: var(--act1);
}
[class^="btn"]{
	padding:10.5px 24px;
	border-radius:24px;
	outline:none;
	font-size: 18px;
	font-weight: 500;
}
.btn1{
	color: var(--act1);
	background: none;
	border:2px solid var(--act1);
}
.btn2{
	background-color:var(--act1);
	color:white;
	border:none;
}
.btn3{
	background-color: white;
	border:2px solid var(--prm2);
}
main,nav,.hero,footer{
	color:var(--prm3);
}
div.head{
	margin:56px 0px 50px 0px;
}
div.head h2{
	margin-bottom:12px;
}
div.head div{
	gap:15px;
}
div.head div input{
	width:270px;
	padding:10px 0px;
	background-image:url("../images/search.svg");
	background-repeat:no-repeat;
	background-size:12px;
	background-position:center right;
	outline:none;
	border:none;
	border-bottom:1px solid var(--prm3);
}
div.head div i{
	cursor:pointer;
}
.input,textarea{
	width: 100%;
	height:48px;
	padding-left: 16px;
	margin-bottom: 20px;
	border-radius: 8px;
	border:1px solid var(--prm2);
	outline: none;
}
div.input{
	position:relative;
}
div.input>input{
	width:100%;
	height:100%;
	border-radius: 8px;
	border:none;
	outline:none;
}
div.input span{
	position:absolute;
	top:16px;
	right:16px;
}
div.input span>i:first-child,
div.input span>svg:first-child{
	display:block;
}
div.input span>i:last-child,
div.input span>svg:last-child{
	display:none;
}

div.input span.eye-slash>i:first-child,
div.input span.eye-slash>svg:first-child{
	display:none;
}
div.input span.eye-slash>i:last-child,
div.input span.eye-slash>svg:last-child{
	display:block;
}
.chk{
	align-items: flex-start;
	gap:4px;
	margin-bottom: 20px;
}
.chk input{
	accent-color: var(--act1);
}

/*nav*/
nav {
	position:relative;
}
.nav{
	height: 72px;
	font-weight: 600;
}
nav ul{
	height: 100%;
	list-style:none;
}
nav ul li{
	height: 100%;
	padding:28px 20px;
}
.page{
	position:relative;
}
.page>span>span{
	margin:28px 20px;
}
nav ul li span{
	cursor:pointer;
}
nav div a{
	margin-right:20px;
}
nav div button.btn1{
	width:50px;
	height:50px;
	padding: 0px;
	font-size: 18px;
	border-radius:100%;
}
.drop{
	display:none;
	padding-top:10px;
}
.drop>div{
	height: 40px;
	padding:10px 0px;
}		
.drops{
	width:100%;
	display:inline-block;
	background-color:white;
	text-align:center;
	position:absolute;
	top:100%;
	left:0px;
}
.drops div a{
	margin:0px;
}
.ang{
	margin-left:10px;
}
.ang>i:first-child,
.ang>svg:first-child{
	display:inline-block;
}
.ang>i:last-child,
.ang>svg:last-child{
	display:none;
}
.angs>i:first-child,
.angs>svg:first-child{
	display:none;
}
.angs>i:last-child,
.angs>svg:last-child{
	display:inline-block;
}


/*hero for index page*/
.hero {
	height: calc(100% - 72px);
	padding-top: 157.5px;
	background-image:url("../images/bg.png");
	background-size:100% 100%;
	background-position:center;
}
.hero h1{
	max-width:370px;
	margin-bottom:24px;
	font-size: 48px;
	font-weight: 600;
}
.hero p{
	max-width:520px;
	margin-bottom:20px;
}

/*hero for other page*/
.hero-cor{
	height:60px;
}
.hero-cor p{
	height:100%;
	padding-top:18px;
	font-size: 16px;
}

/*section Top Categories*/
section.top div.cont{
	grid-template-columns: repeat(4,21%);
	justify-content: center;
	gap:31px;
}
section.top div.cont div{
	height: 234px;
	padding: 57.5px 0px;
	border:1px solid lightgrey;
	border-radius:20px;
	text-align:center;
}
section.top div.cont div h4{
	padding-top: 24px;
	padding-bottom: 12px;
}
	
/*section Featured courses & all courses &  blog*/
.slide{
	display:flex;
	overflow:hidden;
}
div.cont{
	flex-shrink:0;
	width:100%;
	gap: 35px;
	transition-duration:.5s;
	grid-template-columns: repeat(3,auto);
}
div.cont div.card{
	max-width:385px;
	position:relative;
	border:1px solid lightgrey;
	border-radius:20px;
}
div.card img{
	border-radius:20px 20px 0px 0px;
}
div.card span.ph{
	position:absolute;
	top:20px;
	left:20px;
	padding:8px 12px;
	background-color:var(--prm3);
	color:white;
	border-radius:8px;
}
div.card .content{
	padding:20px;
}
div.card .content p{
	padding-bottom: 12px;
	color: var(--prm3);
}
div.card .content h4{
	padding-bottom:16px;
}
div.card .content div.fl-st{
	gap: 20px;
}
div.card .content div img{
	width: 16px;
	margin: -1px 0px;
}
div.card .content div span{
	height: 24px;
	font-weight: 400;
}
div.card .price{
	margin-top:16px;
	padding-top:16px;
	border-top:1px solid lightgray;
}
div.card .price a{
	font-size: 18px;
	font-weight: 500;
}
div.card .price a.free{
	color: green;
}
div.card .price a.free span{
	margin-right: 8px;
	color: grey;
	font-weight: 400;
	text-decoration: line-through;
}
.list-card{
	flex-shrink:0;
	width:100%;
	transition-duration:.5s;
	grid-template-columns: repeat(1,100%);
}
.list-card div.card{
	margin-bottom:24px;
	display:flex;
	border:1px solid lightgrey;
	border-radius:20px;
	position:relative;
}
.list-card div.card span.ph{
	position:absolute;
	top:20px;
	left:20px;
}
.list-card div.card img{
	border-radius:20px 0px 0px 20px;
	width:40%;
}

/*section num*/
section div.num{
	justify-content:center;
	gap:12px;
	margin:20px auto;
}
section div.num span{
	width:48px;
	height:48px;
	padding:10px 0px;
	border: 1px solid #EAEAEA;
	border-radius:24px;
	font-size: 18px;
	font-weight: 500;
	cursor:pointer;
}

/*section GET MORE*/
section.more div{
	background-image:url("../images/Mask-group.png");
	background-size:100% 100%;
	margin:70px 0px;
	padding:54.5px;
	padding-left: 50px;
}
section.more div h5{
	margin-bottom: 12px;
}
section.more div p{
	max-width: 450px;
	margin-top:24px;
	margin-bottom:20px;
}

/*section status*/
section.stat{
	margin: 0px 0px 70px 0px;	
}
section.stat div{
	height:161px;
	width:23.491%;
	padding:40px 0px;
	background-color:var(--bg1);
	text-align:center;
	border-radius:20px;
}
section.stat div h2{
	padding-bottom:16px;
	color: var(--act1);
}
section.stat div a{
	font-size:18px;
	font-weight: 500;
}

/*section skills*/
section.skill{
	flex-direction:row-reverse;
	gap:10px
}
section.skill>img{
	max-width:537px;
}
section.skill div h2{
	max-width: 320px;
	margin-bottom:24px;
}
section.skill div p{
	max-width: 520px;
}
section.skill div ul{
	margin:4px 0px 8px 0px;
	list-style-image:url("../images/true.svg");
	list-style-position: inside;
}
section.skill div ul li{
	margin:12px 0px;
	font-size: 18px;
	font-weight: 400;
}

/*section student*/
section.stud>div{
	height:250px;
	margin:70px 0px;
	padding: 0px 18px;
	background-image:
		url("../images/ed1.svg"),
		url("../images/ed2.svg"),
		linear-gradient(to left, #E8D1FE 0%, #C7E6F9 100%);
	background-size: auto;
	background-repeat: no-repeat;
	background-position:15.21px bottom,calc(100% - 31.36px) top,100%;
	border-radius:20px;
}
section.stud>div div.img{
	width:120px;
	height:120px;
	margin-right:12px;
	background-color: white;
	border-radius:100%;
}
section.stud>div div.img img{
	margin: 24px 29.42px;
}
section.stud>div div{
	gap: 20px;
}

/*section faqs*/
section.faqs div.cont{
	align-items:flex-start;
}
section.faqs div.cont>div,
section.log-reg>div{
	width:594px;
}
section.faqs div.cont>div>div{
	margin-bottom:30px;
	padding:20px 30px;
	background-color:var(--bg1);
	border-radius:8px;
}
section.faqs div.cont>div>div>p{
	margin-top:20px;
}
section.faqs .hid p{
	display:none;
}
section.faqs .show p{
	display:block;
}
section.faqs img{
	width:50%;
	margin-top:50px;
}

/*section log-reg*/
section.log-reg,
section.contact>div{
	align-items: flex-start;
	margin-top: 56px;
	margin-bottom: 70px;
}
section.log-reg{
	gap: 30px;
}
section.log-reg h2{
	margin-bottom: 30px;
}
section.log-reg h5{
	margin-top: 20px;
}
section.log-reg .login,
section.log-reg .register{
	padding: 30px;
	border: 1px solid #EAEAEA;
	border-radius: 20px;
}

/*section contact*/
section.contact div.need{
	max-width: 410px;
}
section.contact div.need p{
	margin-top: 24px;
	margin-bottom: 16px;
}
section.contact span.contact-ic{
	width:56px;
	height:56px;
	margin:10px 20px 10px 0px;
	padding:12px;
	background-color:var(--bg1);
	border-radius:8px;
	font-size: 32px;
}
div.map{
	width: 783px;
	height: 390px;
}
div.map iframe{
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

/*section contact-us*/
section.contact-us{
	margin-bottom: 70px;
}
section.contact-us p{
	padding-top: 20px;
	padding-bottom: 30px;
}
section.contact-us .in{
	gap:20px;
}
section.contact-us textarea{
	height: 110px;
	padding-top: 10px;
}

/*footer*/
footer {
	background-color:var(--bg1);
	font-size: 18px;
}
footer div.cont{
	align-items: flex-start;
	gap: 11px;
	padding: 50px 0px;
}
footer .about img,
footer .contact h4{
	margin-bottom: 32px;
}
footer div.cont div.about p{
	max-width: 341px;
}
footer div.cont ul{
	margin-top: 32px;
	list-style-type: none;
}
footer div.cont ul li{
	margin-top: 16px;
}
footer div.cont ul li a{
	color: var(--prm1);
	font-weight: 500;
}
footer .contact div{
	max-width: 340.22px;
	margin-bottom: 16px;
}	
footer .contact div a{
	padding-right: 12px;
}
footer .Copyright{
	padding-bottom: 50px;
}

/*hover*/
section.top div.cont div:hover{
	margin-top: -16px;
	margin-bottom: 16px;
	box-shadow: 0px 4px 20px 0px #0000001A;
	h4{
		color: var(--act1);
	}
}
footer div.cont ul li a:hover,
footer .contact div a svg:hover{
	color: var(--act1);
}

/*screen(992)*/
@media screen and (max-width: 992px) {
	/*global*/
	*{
		text-align: center;
	}
	section.top div.cont,.d-gr-t,div.cont{
		grid-template-columns: repeat(2, auto);
		gap:30px;
	}
	div.hero h1,
	div.hero p,
	section.more div p{
		max-width: 500px;
	}

	/*nav*/
	.nav{
		height: 90px;
	}
	.show-nav{
		display:block;
		margin-bottom:30px;
		position:absolute;
		z-index:1;
		width:100%;
		background-color:white;
		padding-bottom:10px;
	}
	div.bars{
		width: 30px;
		font-size: 27px;
		cursor:pointer;
	}		
	div.bars>i:first-child,
	div.bars>svg:first-child{
		display:block;
	}
	div.bars>i:last-child,
	div.bars>svg:last-child{
		display:none;	
	}
	div.bars-tog>i:first-child,
	div.bars-tog>svg:first-child{
		display:none;
	}
	div.bars-tog>i:last-child,
	div.bars-tog>svg:last-child{
		display:block;
	}
	/*hero*/
	div.hero{
		padding-top: 200px;
		background-image: linear-gradient(to left, #D0F7EA 0%, #FFF5BE 100%);
	}
	div.hero h1{
		font-size: 32px;
	}
	
	/*main*/
	main{
		padding:0px;	
	}
	
	
	/*section Top Categories*/
	section.top div.head{
		margin: 56px auto 40px auto;
	}
	section.top div.cont>div{
		width: 300px;
		margin: 0px 43px 25px 43px;
	}
	
	/*section Featured courses*/
	section.feat div.head{
		margin: 70px auto 40px auto;
	}
	section.feat div.cont div.card{
		max-width: 500px;
		margin:0px auto 35px auto;
	}
	div.cont div.card {
		max-width: 422px;
	}
	/*section GET MORE*/
	section.more div{
		background-image: linear-gradient(to left, #FDC1C1 0%, #B5FFE7 100%);
		padding:75px 20px;
	}
	
	/*section status*/
	section.stat{
		justify-content: space-around;
	}
	section.stat div{
		width:330px;
	}
	
	/*section skills*/
	section.skill{
		gap:11px;
	}
	section.skill h2{
		min-width: 324px;
	}
	section.skill>img{
		 width:50%;
		 margin:24px auto 0px auto;
	}
	
	/*section student*/
	section.stud>div{
		height:400px;
		background-image:
		url("../images/ed1mob.png"),
		url("../images/ed2mob.png"),
		linear-gradient(to left, #E8D1FE 0%, #C7E6F9 100%);
		background-position:4.47px bottom,calc(100% - 9.21px) top,100%;
		margin-bottom: 0px;
		padding-top:95px;
		border-radius:0px;	
	}
	section.stud>div div.img{
		width: 80px;
		height: 80px;
		margin-left: auto;
		margin-right: auto;
	}
	section.stud>div div.img img{
		width: 38.16px;
		height: 44.92;
		margin: 17.54px 20.92px;
	}
	section.stud>div h4{
		margin-top:16px;
		margin-bottom:24px;
	}
	section.stud>div button{
		margin-bottom:20px;
	}
	
	/*section faqs*/
	section.faqs div.cont>div{
		width:499px;
	}
	
	/*footer*/
	footer div.cont{
		justify-content: space-between;
		grid-column-gap: 15px;
		padding-top: 70px;
		padding-bottom: 38px;
	}
	footer h4{
		margin-top:30px;
	}
	footer>p.Copyright{
		padding-bottom: 39px;
	}
}

/*screen(768px)*/
@media screen and (max-width: 768px) {
	/*global*/
	div.head div input {
		width: 100%;
	}
	div.cont div.card {
		margin-bottom: 20px;
	}
	div.hero h1,
	div.hero p,
	section.more div p,
	section.top div.cont>div{
		max-width: 320px;
		width: 100%;
	}
	
	/*nav*/
	.show-nav{
		margin-bottom:20px;
	}
	div.bars{
		width: 24px;
		font-size: 21px;		
	}
	
	/*section Featured courses*/
	div.cont div.card,
	section.stat>div,
	section.top div.cont>div {
		margin:0px auto 35px auto;
	}

	/*section skill*/
	section.skill>img{
		 width:calc(100% - 17px);
		 margin:24px 8.5px 0px 8.5px;
	}
	.list-card div.card span.ph{
		top:10px;
		left:10px;
		padding:5px;
		font-size:12px;
	}
		
	/*section log-reg*/
	section.log-reg>div {
		max-width: 550px;
		width: 100%;
	}
	section.log-reg .login {
		margin-bottom: 30px;
	}

	/*section faqs*/
	section.faqs div.cont>div,
	section.faqs img{
		width:100%;
	}

	/*section contact*/
	div.map{
		width: 100%;
		margin-top: 30px;
	}
	div.map iframe{
		border-radius: 0px;
	}
}

/*screen(480px)*/
@media screen and (max-width: 480px) {
	/*nav*/
	.show-nav{
		margin-bottom:10px;
	}
	
	/*section top & stat*/
	section.top div.cont>div,
	section.stat div{
		width: 100%;
	}

	/*section stat*/
	section.stat>div{
		max-width: 320px;
	}

	/*section skill*/
	section.skill h2 {
		min-width: 0px;
	}

	/*section faqs*/
	section.faqs div.cont>div,
	section.faqs img{
		width:100%;
	}
}

/*screen(<300)*/
@media screen and (max-width: 299px){
	header,main,footer{
		display:none;
	}
	body::after {
		content: "Your device screen is too small. Please open the site on a larger device screen to view the site well. \A Thank you";
		display:flex;
		justify-content:center;
		align-items:center;
		padding:100px 20px;
		font-weight:bold;
	}
}